# Dataset
In this homework, we will use the lead scoring dataset Bank Marketing dataset (https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv)

In this dataset our desired target for classification task will be `converted` variable - has the client signed up to the platform or not.

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# assure that plots are displayed in jupyter notebook's cells
%matplotlib inline

In [15]:
df_ori = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv')
df_ori.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1

# Data preparation
* Check if the missing values are presented in the features.

* If there are missing values:

    * For caterogiral features, replace them with 'NA'

    * For numerical features, replace with with 0.0

In [16]:
df_ori.isnull().sum()

lead_source                 128
industry                    134
number_of_courses_viewed      0
annual_income               181
employment_status           100
location                     63
interaction_count             0
lead_score                    0
converted                     0
dtype: int64

In [17]:
df_ori.dtypes

lead_source                  object
industry                     object
number_of_courses_viewed      int64
annual_income               float64
employment_status            object
location                     object
interaction_count             int64
lead_score                  float64
converted                     int64
dtype: object

In [18]:
categorical = df_ori.select_dtypes(include=['object']).columns
categorical

Index(['lead_source', 'industry', 'employment_status', 'location'], dtype='object')

In [19]:
numerical = df_ori.select_dtypes(include=['int64', 'float64']).columns
numerical

Index(['number_of_courses_viewed', 'annual_income', 'interaction_count',
       'lead_score', 'converted'],
      dtype='object')

In [20]:
df = df_ori.copy()
df[categorical] = df[categorical].fillna('NA')
df[numerical] = df[numerical].fillna(0)
df.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NA,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NA,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1

check again to make sure every missing value has been filled.

In [31]:
df.isnull().sum()

lead_source                 0
industry                    0
number_of_courses_viewed    0
annual_income               0
employment_status           0
location                    0
interaction_count           0
lead_score                  0
converted                   0
dtype: int64

# Question 1
What is the most frequent observation (mode) for the column `industry`?

In [22]:
df['industry'].mode()[0]

'retail'

# Question 2

Create the correlation matrix for the numerical features of your dataset. In a correlation matrix, you compute the correlation coefficient between every pair of features.

What are the two features that have the biggest correlation?

In [35]:
df[['interaction_count', 'number_of_courses_viewed']].corrwith(df['lead_score']).to_frame('correlation to lead_score')

                          correlation to lead_score
interaction_count                          0.009888
number_of_courses_viewed                  -0.004879

In [36]:
df[['number_of_courses_viewed', 'annual_income']].corrwith(df['interaction_count']).to_frame('correlation to interaction_count')

                          correlation to interaction_count
number_of_courses_viewed                         -0.023565
annual_income                                     0.027036

`annual_income` and `interaction_count` have the biggest correlation.

# Split the data

Split your data in train/val/test sets with 60%/20%/20% distribution.

Use Scikit-Learn for that (the train_test_split function) and set the seed to 42.

Make sure that the target value y is not in your dataframe.